
/*Side bar*/
.sidebar {
  width: 300px;             
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 2px solid teal;
  display: flex;
  flex-direction: column;
}

/*Header image*/
.banner-img {
  width: 70%;
  height: auto;
  display: block;
  object-fit: cover;
}

