/*Body*/
body {
    margin: 0;
    padding: 0; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
} 

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* Logo */
.logo-top {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar Wrapper */
.navbar {
  background-color: #202020;
  padding: 10px 20px;
  text-align: center;
  
}

/* Flex container for logo and links */
.navbar-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Link Styling */
.navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 4px;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*Side bar*/
.sidebar {
  width: 30%;             
  padding: 0px;
  background-color: #f4f4f4;
  border-left: 6px solid #51ebff;
  display: inline-flex;
  flex-direction: column;
  float: right;
  text-align: center;
 
}
.navbar-container {
    display: inline-flex;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*Header image*/
.banner-img {
  width: 69.5%;
  height: auto;
  display: block;
  object-fit: contain;
  float: left;
}

.navbar-container {
    display: inline-flex;
    
}
/*Doggo Image*/
.doggo-img {
  width: 15%;
  height: auto;
  display: block;
  object-fit: contain;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* Footer Stuff */

/* Whole Footer Settings */
.footer-container {
  background-color: #333;
  color: #f2f2f2;
  
}

/**/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

/* Footer List Styling */
.footer-links {
  list-style: none;
  display: inline-flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

/* Footer Links Hyperlink */
.footer-links a {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

/* Footer Links Hyperlink Hovering */
.footer-links a:hover {
  color: #ffffff;
  border-radius: 4px;
}